* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: #080014;

    overflow: hidden;
}

#nav {
    background: #080014;
    height: 5vw;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    height: 100%;
}
.logo svg{
    visibility: visible;
    display: flex;
    width: 10.375rem;
    color: rgb(34, 27, 27);
    /* background-color: sandybrown; */
    height: 2.5rem;
    fill: #c9c3d1;
    /* transition: fill .4s var(--cubic-main); */
}

#page1 {
    background-color: #080014;
    height: 100vh;
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 10vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    /* background: #c9c3d1; */
    color: #c9c3d1;
    font-weight: 900;

}
#page2{
    background-color: wheat;
    height: 100vh;
    width: 100vw;
    position: relative;

}
#page3{
    background-color: rgb(129, 116, 104);
    position: relative;
    height: 100vh;
    width: 100vw;
}